@if(authStore.authenticationReady()) {
<div class="nav">
  <button
    mat-icon-button
    class="sidebar-icon"
    (click)="isSidebarOpened.set(true); $event.stopPropagation()"
  >
    <mat-icon>dehaze</mat-icon>
  </button>
  <img src="/assets/logos/emcrey.svg" class="logo" />
  <div class="navigation">
    <button routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
    <button routerLink="/users" routerLinkActive="active">Users</button>
  </div>
  <button mat-fab color="primary" routerLink="/profile" class="profile-button">
    <mat-icon>person</mat-icon>
  </button>
</div>
<div class="body">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
}

<nav
  class="sidebar"
  [ngClass]="isSidebarOpened() ? 'opened' : 'closed'"
  (click)="$event.stopPropagation()"
>
  <img class="logo-mobile" src="/assets/logos/emcrey.svg" height="40" />

  <div class="navigation-mobile">
    <div
      class="sidebar-item"
      routerLink="/dashboard"
      routerLinkActive="active"
      (click)="closeSidebar()"
    >
      Dashboard
    </div>
    <div
      class="sidebar-item"
      routerLink="/users"
      routerLinkActive="active"
      (click)="closeSidebar()"
    >
      Users
    </div>
  </div>
</nav>
