<form [formGroup]="upsertForm" (ngSubmit)="onSubmit()">
  <span class="title">Create User</span>

  <span class="sub-title">General Information</span>

  <app-textfield
    label="Full Name"
    placeholder="Enter your fullname"
    formControlName="fullName"
    [errorMap]="{
      required: 'Required'
    }"
  ></app-textfield>

  <app-textfield
    label="Email"
    placeholder="Enter your email"
    formControlName="email"
    [errorMap]="{
      required: 'Required',
      email: 'Invalid email',
    }"
  ></app-textfield>

  @if(mode() === 'create') {
  <app-textfield
    label="Password"
    placeholder="Enter a password"
    formControlName="password"
    [errorMap]="{
      required: 'Required',
      passwordStrength: 'Invalid passsword',
    }"
  ></app-textfield>
  }

  <div class="header">
    <span class="sub-title">Roles</span>
    <button
      mat-fab
      color="primary"
      (click)="onAddRoleClicked()"
      class="add-button"
      type="button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container formArrayName="roles">
    @for(role of roles(); track role) {
    <app-textfield
      label="Role"
      placeholder="Enter the role name..."
      [formControlName]="$index"
      [errorMap]="{
        required: 'Required'
      }"
    ></app-textfield>
    }
  </ng-container>

  <app-button
    class="submit-button"
    type="submit"
    [disabled]="isSubmitButtonDisabled()"
    >{{ submitText() }}</app-button
  >
</form>
