@import "extendables"

:host
    display: flex
    flex-direction: column
    padding: 0 var(--screen-padding)

form
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 10px
    width: 100%
    max-width: 500px

.title
    @extend .screen-title

.sub-title
    @extend .sub-screen-title
    margin-top: 20px
    margin-bottom: 10px

.add-button
    width: 48px
    height: 48px

.header
    display: flex
    flex-direction: row
    align-items: center

.header .sub-title
    flex: 1
